<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/drivers.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/passengers.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="stylesheet" href="/styles/signupV2.css">
    <link rel="stylesheet" href="/styles/classesReg.css">
    <link rel="stylesheet" href="/styles/ridesReg.css">
    <link rel="stylesheet" href="/styles/riders.css">
    
    <title>UniDrive</title>
</head>
<body>
    