<%- include("partials/header.ejs") %>

<%- include("partials/navbar.ejs", { login: locals.userObj.isLoged, name: locals.userObj.name, ra: locals.userObj.ra }) %>

<div class="classesRegistration">
    <form action="/users/<%= locals.userObj.ra %>" method="POST">
        <div class="loginBox">
            <div class="title">
                <h1>Cadastro de Aulas</h1>
                <p>Se não tiver aula no horário indicado, deixe em branco.</p>
            </div>
            <select id="weekDay" name="weekDay" class="signUpInput" required>
                <option value="" disabled selected>Selecionar Dia</option>
                <option value="seg">Segunda-Feira</option>
                <option value="ter">Terça-Feira</option>
                <option value="qua">Quarta-Feira</option>
                <option value="qui">Quinta-Feira</option>
                <option value="sex">Sexta-Feira</option>
            </select>
            <% if(locals.userObj.period === 'Noite') { %>
                <input name="class1" class="signUpInput" type="text" placeholder="Aula 19:00">
                <input name="class2" class="signUpInput" type="text" placeholder="Aula 19:50">
                <input name="class3" class="signUpInput" type="text" placeholder="Aula 21:00">
                <input name="class4" class="signUpInput" type="text" placeholder="Aula 21:50">
            <% } else { %>
                <input name="class1" class="signUpInput" type="text" placeholder="Aula 7:30">
                <input name="class2" class="signUpInput" type="text" placeholder="Aula 8:20">
                <input name="class3" class="signUpInput" type="text" placeholder="Aula 9:30">
                <input name="class4" class="signUpInput" type="text" placeholder="Aula 10:20">
            <% } %>
            <button class="btn" type="submit"><p>Cadastrar Aulas</p></button>
        </div>
    </form>
</div>