.contentSignup form {
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: white; */
}

.contentSignup form .signUpBox {
    width: 30%;
    height: auto;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    border: 3px solid black;
    flex-direction: column;
    padding-bottom: 40px;
}

.contentSignup form .signUpBox .signUpInput {
    border-radius: 10px;
    width: 80%;
    height: 50px;
    outline: none;
    border: 2px solid black;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

.contentSignup form .signUpBox select {
    appearance: none;
}

.contentSignup form .signUpBox .roles {
    height: 40px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.contentSignup form .signUpBox .signUpInput:focus {
    border: 2px solid #023e8a;
}

.contentSignup form .signUpBox .btn {
    border-radius: 10px;
    width: 80%;
    height: 50px;
    outline: none;
    border: 2px solid black;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #023e8a;
    color: white;
}

.contentSignup form .signUpBox .btn:hover {
    background: #00b4d8;
}